/**
* @stylesheet _bullets.scss Generic Bullet Definitions
* @parent styles.styling 2
*
* @description
* Generic definitions for setting bullets on elements regardless of HTML tag.
*
* @styles bullets Bullet Points
*/
@import 'colors';

.bullets {
    ul {
        list-style-type: none;
        li::before {
            align-items: center;
            font-family: 'FontAwesome';
            text-align: center;

        }
    }

    &_plus-sign{
        @extend .bullets;
        content: '\f067';
        margin-right: 10px;
        font-size: 12px;

        @each $color, $value in $colors {
            &_#{$color}{
                @extend .bullets_plus-sign;
                color: $value;
            }
        }
    }

    @each $color, $value in $colors {
        &_#{$color}{
            @extend .bullets;
            color: $value;
        }
    }

    &_none {
        ul {
            list-style-type: none;
        }
    }
}