/**
* @stylesheet _colors.scss Stockup
* @parent styles.color-pallette 0
*
* @description
* Color pallette for the Stockup program.
*
* @styles colors-stockup Stockup
*
* $black: black !default;
* $white: white !default;
* $grey: grey !default;
* $red: red !default;
* $orange: orange !default;
* $yellow: yellow !default;
* $green: green !default;
* $blue: blue !default;
* $purple: purple !default;
*/

// ==================================================
//      COLOR-PALLETTE
// ==================================================

$colors-pallette: (
  'black':  rgb(0, 0, 0) !default,
  'white': rgb(255, 255, 255) !default,
  'grey': rgb(93, 93, 93) !default,
  'red': rgb(255, 0, 0) !default,
  'orange': rgb(234, 114, 0) !default,
  'yellow': rgb(255, 255, 0) !default,
  'green': rgb(0, 128, 0) !default,
  'blue': rgb(12, 52, 85) !default,
  'purple': rgb(128, 0, 128) !default,
);

// ==================================================
//      COLOR-LIGHT
// ==================================================

$colors-light: (
  black-light:  lighten(map-get($colors-pallette, 'black'), 15%) !default,
  white-light: lighten(map-get($colors-pallette, 'white'), 15%) !default,
  grey-light: lighten(map-get($colors-pallette, 'grey'), 15%) !default,
  red-light: lighten(map-get($colors-pallette, 'red'), 15%) !default,
  orange-light: lighten(map-get($colors-pallette, 'orange'), 15%) !default,
  yellow-light: lighten(map-get($colors-pallette, 'yellow'), 15%) !default,
  green-light: lighten(map-get($colors-pallette, 'green'), 15%) !default,
  blue-light: lighten(map-get($colors-pallette, 'blue'), 15%) !default,
  purple-light: lighten(map-get($colors-pallette, 'purple'), 15%) !default,
);

// ==================================================
//      COLOR-DARK
// ==================================================

$colors-dark: (
  black-dark:  darken(map-get($colors-pallette, 'black'), 15%) !default,
  white-dark: darken(map-get($colors-pallette, 'white'), 15%) !default,
  grey-dark: darken(map-get($colors-pallette, 'grey'), 15%) !default,
  red-dark: darken(map-get($colors-pallette, 'red'), 15%) !default,
  orange-dark: darken(map-get($colors-pallette, 'orange'), 15%) !default,
  yellow-dark: darken(map-get($colors-pallette, 'yellow'), 15%) !default,
  green-dark: darken(map-get($colors-pallette, 'green'), 15%) !default,
  blue-dark: darken(map-get($colors-pallette, 'blue'), 15%) !default,
  purple-dark: darken(map-get($colors-pallette, 'purple'), 15%) !default,
);

// ==================================================
//      COLORS-HOVER
// ==================================================

$colors-hover: (
  black-hover:  darken(map-get($colors-pallette, 'black'), 10%) !default,
  white-hover: darken(map-get($colors-pallette, 'white'), 10%) !default,
  grey-hover: darken(map-get($colors-pallette, 'grey'), 10%) !default,
  red-hover: darken(map-get($colors-pallette, 'red'), 10%) !default,
  orange-hover: darken(map-get($colors-pallette, 'orange'), 10%) !default,
  yellow-hover: darken(map-get($colors-pallette, 'yellow'), 10%) !default,
  green-hover: darken(map-get($colors-pallette, 'green'), 10%) !default,
  blue-hover: darken(map-get($colors-pallette, 'blue'), 10%) !default,
  purple-hover: darken(map-get($colors-pallette, 'purple'), 10%) !default,
);

// ==================================================
//      COLORS-ACTIVE
// ==================================================

$colors-active: ();

// ==================================================
//      COLORS-VISITED
// ==================================================

$colors-visited: ();

// ==================================================
//      COLOR-SPECIAL
// ==================================================

$colors-special: (
  yellow-caution: rgb(238, 210, 2),
  red-danger: rgb(255,35,35),
  red-stop: rgb(204, 2, 2),
  orange-biohazard: rgb(255, 115, 4),
  orange-warning: rgb(255, 103, 0),
  green-safety: rgb(0, 132, 61),
  blue-information: rgb(22, 70, 132),
  black-boundaries: rgb(0, 0, 0),
  white-boundaries: rgb(255, 255, 255),
  yellow-boundaries: rgb(245, 211, 2),
  purple-radiation: rgb(104, 51, 133),
  yellow-radiation: rgb(253, 222, 17),
  black-radiation: rgb(0, 0, 0),
);

// ==================================================
//      COLOR-SOCIAL -> https://www.lockedownseo.com/social-media-colors/
// ==================================================

$colors-social: (
  android-primary: rgb(164, 198, 57),
  android-secondary: rgb(255, 255, 255),

  amazon-primary: rgb(255, 153, 0),
  amazon-secondary: rgb(124,124,124),

  apple-primary: rgb(166, 177, 183),
  apple-secondary: rgb(0, 0, 0),

  deviantart-primary: rgb(5, 204, 71),
  deviantart-secondary: rgb(255, 255, 255),

  discord-primary: rgb(114, 137, 218),
  discord-secondary: rgb(255, 255, 255),

  facebook-primary: rgb(59, 89, 152),
  facebook-secondary: rgb(255, 255, 255),
  facebook-messenger-primary: rgb(0, 132, 255),
  facebook-messenger-secondary: rgb(255, 255, 255),

  flickr-primary: rgb(244, 0, 131),
  flickr-secondary: rgb(255, 255, 255),

  foursquare-primary: rgb(249, 72, 119),
  foursquare-secondary: rgb(255, 255, 255),

  google-blue: rgb(66, 133, 244),
  google-red: rgb(234, 67, 53),
  google-green: rgb(52, 168, 83),
  google-yellow: rgb(251, 188, 5),
  google-multiple: linear-gradient(135 deg, to right, rgb(66, 133, 244) 25%, rgb(234, 67, 53) 25% 50%, rgb(52, 168, 83) 50% 75%, rgb(251, 188, 5) 75%),
  google-plus-primary: rgb(219, 68, 55),
  google-plus-secondary: rgb(255, 255, 255),

  instagram-primary: rgb(35, 31, 32),
  instagram-secondary: rgb(255, 255, 255),
  instagram-gradient: linear-gradient(rgb(76, 95, 215), rgb(114, 50, 189), rgb(195, 42, 163), rgb(244, 111, 48), rgb(255, 220, 125)),

  linkedin-primary: rgb(0, 119, 181),
  linkedin-secondary: rgb(255, 255, 255),

  medium-primary: rgb(2, 184, 117),
  medium-secondary: rgb(255, 255, 255),

  microsoft-red: rgb(243, 80, 34),
  microsoft-green: rgb(128, 187, 3),
  microsoft-blue: rgb(3, 165, 240),
  microsoft-yellow: rgb(255, 185, 3),

  pinterest-primary: rgb(189, 8, 28),
  pinterest-secondary: rgb(255, 255, 255),

  pocket-primary: rgb(238, 64, 86),
  pocket-secondary: rgb(255, 255, 255),

  reddit-primary: rgb(255, 69, 0),
  reddit-secondary: rgb(255, 255, 255),

  skype-primary: rgb(0, 175, 240),
  skype-secondary: rgb(255, 255, 255),

  slack-primary: rgb(77, 57, 75),
  slack-secondary: rgb(255, 255, 255),

  snapchat-primary: rgb(255, 252, 0),
  snapchat-secondary: rgb(255, 255, 255),
  snapchat-ternary: rgb(0, 0, 0),

  soundcloud-primary: rgb(255, 85, 0),
  soundcloud-secondary: rgb(255, 255, 255),

  spotify-primary: rgb(30, 215, 96),
  spotify-secondary: rgb(255, 255, 255),

  steam-primary: rgb(23, 26, 33),
  steam-secondary: rgb(199, 213, 224),

  tumblr-primary: rgb(54, 70, 93),
  tumblr-secondary: rgb(255, 255, 255),

  twitch-primary: rgb(100, 65, 164),
  twitch-secondary: rgb(255, 255, 255),

  twitter-primary: rgb(56, 161, 243),
  twitter-secondary: rgb(255, 255, 255),

  vimeo-primary: rgb(26, 183, 234),
  vimeo-secondary: rgb(255, 255, 255),

  vine-primary: rgb(0, 180, 137),
  vine-secondary: rgb(255, 255, 255),

  whatsapp-primary: rgb(37, 211, 102),
  whatsapp-secondary: rgb(255, 255, 255),

  youtube-primary: rgb(237, 56, 51),
  youtube-secondary: rgb(255, 255, 255),
);

$colors: $colors-pallette;
$colors: map-merge($colors, $colors-light);
$colors: map-merge($colors, $colors-dark);
$colors: map-merge($colors, $colors-hover);
$colors: map-merge($colors, $colors-active);
$colors: map-merge($colors, $colors-visited);
$colors: map-merge($colors, $colors-special);
$colors: map-merge($colors, $colors-social);

@function color($color){
  @return map-get($colors, $color)
}