/**
* @stylesheet _link.scss Generic Link Definitions
* @parent styles.styling 5
*
* @description
* Generic definitions for styling links.
*
* @styles links Links/Hyperlinks
*/
@import 'colors';

.link {
  cursor: pointer;

  @each $color, $value in $colors {
    &_#{$color} {
      color: $value;

      &:hover {
        color: map-get($colors-hover, '#{$color}');
      }

      &:active {
        color: map-get($colors-active, '#{$color}');
      }

      &:visited {
        color: map-get($colors-visited, '#{$color}');
      }

      &_no-underline{
        @extend .link_#{$color}:visited:active:hover;
        text-decoration: none;
      }
    }
  }
}
