/**
* @parent styles.layout 6
* @stylesheet _RWD.scss Generic Definitions Responsive Web Design
*
* @description
* RESOLUTION BREAKPOINTS
* Based on: https://docs.microsoft.com/en-us/windows/uwp/design/layout/screen-sizes-and-breakpoints-for-responsive-design
*
* @styles breakpoints Responsive Web Breakpoints
*/

/**
* BREAKPOINTS - SMALL - Phones, TVs (due to ppi and distance from screen for average viewer)
*/

$ms-small-max: 640px;
$ms-small-margin: 12px;

/**
* BREAKPOINTS - MEDIUM - Phablets, tablets
*/

$ms-medium-min: 641px;
$ms-medium-max: 1007px;
$ms-medium-margin: 24px;

/**
* BREAKPOINTS - LARGE - PCs, laptops, Surface Hubs
*/

$ms-large-min: 1008px;
$ms-large-margin: 24px;


