/**
* @parent styles.styling 6
* @stylesheet _text.scss Generic Definitions for Text Elements
*
* @description
* Generic definitions for styling text.
*
* @styles text Text
*/
@import 'style-guide/colors';

.text {
    @for $i from 1 through 80 {
      &_#{$i}px {
        font-size: #{$i}px;

        &_#{$text-style} {
            @extend .text_#{$i}px;
            @include text-style($text-style);

            &_#{$color} {
                @extend .text_#{$i}px_#{$text-style};
                color: color($color);
            }
        }

        &_#{$color} {
            @extend .text_#{$i}px;
            color: color($color);

            &_#{$text-style} {
                @extend .text_#{$i}px_#{$color};
                @include text-style($text-style);
            }
        }
      }
    }

    &_#{$text-style} {
        @include text-style($text-style);

        @for $i from 1 through 80 {
            &_#{$i}px {
              @extend .text_#{$text-style};
              font-size: #{$i}px;

              &_#{$color} {
                @extend .text_#{$text-style}_#{$i}px;
                color: color($color);
            }
            }
        }

        &_#{$color} {
            @extend .text_#{$text-style};
            color: color($color);

            @for $i from 1 through 80 {
                &_#{$i}px {
                    @extend .text_#{$text-style}_#{$color};
                  font-size: #{$i}px;
                }
            }
        }
    }

    &_#{$color} {
        color: color($color);

        @for $i from 1 through 80 {
            &_#{$i}px {
                @extend .text_#{$color};
              font-size: #{$i}px;

              &_#{$text-style} {
                @extend .text_#{$color}_#{$i}px;
                @include text-style($text-style);
                }
            }
        }

        &_#{$text-style} {
            @extend .text_#{$color};
            @include text-style($text-style);

            @for $i from 1 through 80 {
                &_#{$i}px {
                    @extend .text_#{$color}_#{$text-style};
                    font-size: #{$i}px;
                }
            }
        }
    }
}

@mixin text-style($key){
    @include vertical-align($key);
    @include horizontal-align($key);
    @include bold($key);
    @include italic($key);
}

@mixin vertical-align($key){
    @if($key == 'middle'){
        vertical-align: middle;
    }
    @elseif($key == 'top'){
        vertical-align: top;
    }
    @elseif($key == 'bottom'){
        vertical-align: bottom;
    }
}

@mixin horizontal-align($key){
    @if($key == 'center'){
        text-align: center;
    }
    @elseif($key == 'right'){
        text-align: right;
    }
    @elseif($key == 'left'){
        text-align: left;
    }
}

@mixin bold($key){
    @if($key == 'bold'){
        font-weight: bold;
    }
}

@mixin italic($key){
    @if($key == 'italic'){
        font-style: italic;
    }
}