/**
* @parent styles.styling 6
* @stylesheet _text.scss Generic Definitions for Text Elements
*
* @description
* Generic definitions for styling text.
*
* @styles text Text
*/
@import 'colors';

$vertical-alignment: (
    middle: 'middle',
    top: 'top',
    bottom: 'bottom',
);

$horizontal-alignment: (
    center: 'center',
    right: 'right',
    left: 'left',
);

$typographical-emphases: (
    bold: 'bold',
    italic: 'italic',
);

$typesetting: map-merge($vertical-alignment, $horizontal-alignment);
$typesetting: map-merge($typesetting, $typographical-emphases);

@mixin align-vertically($key){
    @if($key == 'middle'){
        vertical-align: middle;
    }
    @elseif($key == 'top'){
        vertical-align: top;
    }
    @elseif($key == 'bottom'){
        vertical-align: bottom;
    }
}

@mixin align-horizontally($key){
    @if($key == 'center'){
        text-align: center;
    }
    @elseif($key == 'right'){
        text-align: right;
    }
    @elseif($key == 'left'){
        text-align: left;
    }
}

@mixin typographical-emphasis($key){
    @if($key == 'bold'){
        font-weight: bold;
    }
    @elseif($key == 'italic'){
        font-style: italic;
    }
}

@mixin text-style($key){
    @include align-vertically($key);
    @include align-horizontally($key);
    @include typographical-emphasis($key);
}

.text {
    @for $i from 1 through 80 {
      &_#{$i}px {
        font-size: #{$i}px;

        @each $text-style, $value in $typesetting {
            &_#{$text-style} {
                @extend .text_#{$i}px;
                @include text-style($text-style);

                @each $color, $value in $colors {
                    &_#{$color} {
                        @extend .text_#{$i}px_#{$text-style};
                        color: $value;
                    }
                }
            }
        }

        @each $color, $value in $colors {
            &_#{$color} {
                @extend .text_#{$i}px;
                color: $value;

                @each $text-style, $value in $typesetting {
                    &_#{$text-style} {
                        @extend .text_#{$i}px_#{$color};
                        @include text-style($text-style);
                    }
                }
            }
        }
      }
    }

    @each $text-style, $value in $typesetting {
        &_#{$text-style} {
            @include text-style($text-style);

            @for $i from 1 through 80 {
                &_#{$i}px {
                  @extend .text_#{$text-style};
                  font-size: #{$i}px;

                  @each $color, $value in $colors {
                        &_#{$color} {
                        @extend .text_#{$text-style}_#{$i}px;
                        color: $value;
                        }
                    }
                }
            }

            @each $color, $value in $colors {
                &_#{$color} {
                    @extend .text_#{$text-style};
                    color: $value;

                    @for $i from 1 through 80 {
                        &_#{$i}px {
                            @extend .text_#{$text-style}_#{$color};
                          font-size: #{$i}px;
                        }
                    }
                }
            }
        }
    }

    @each $color, $value in $colors {
        &_#{$color} {
            color: $value;

            @for $i from 1 through 80 {
                &_#{$i}px {
                    @extend .text_#{$color};
                  font-size: #{$i}px;

                  @each $text-style, $value in $typesetting {
                        &_#{$text-style} {
                        @extend .text_#{$color}_#{$i}px;
                        @include text-style($text-style);
                        }
                    }
                }
            }

            @each $text-style, $value in $typesetting {
                &_#{$text-style} {
                    @extend .text_#{$color};
                    @include text-style($text-style);

                    @for $i from 1 through 80 {
                        &_#{$i}px {
                            @extend .text_#{$color}_#{$text-style};
                            font-size: #{$i}px;
                        }
                    }
                }
            }
        }
    }
}