/**
* @stylesheet _bullets.scss Generic Bullet Definitions
* @parent styles.styling 2
*
* @description
* Generic definitions for setting bullets on elements regardless of HTML tag.
*
* @styles bullets Bullet Points
*/

@import 'colors';

@mixin bullets($content: '\f111', $color: black) {
    ul {
        list-style-type: none;
        li::before {
            align-items: center;
            font-family: 'FontAwesome';
            font-size: 0.75em;
            text-align: center;
            content: $content;
            margin-right: 0.85rem;
            color: color($color);
        }
    }
}

.bullets {
    @include bullets();

    &_plus-sign {
        @include bullets('\f067');
    }

    &_none {
        list-style-type: none;
        ul {
            list-style-type: none;
        }
    }
}

