/**
* @stylesheet _cursers&_scss Cursors
* @parent styles&_curser 0
*
* @description
* Generic cursors to be used wherever&_
*
* @styles cursors Cursers
*/

$cursors: (
    auto: 'auto',
    default: 'default',
    none: 'none',
    context-menu: context-menu,
    help: 'help',
    pointer: 'pointer',
    progress: 'progress',
    wait: 'wait',
    cell: 'cell',
    crosshair: 'crosshair',
    text: 'text',
    vertical-text: 'vertical-text',
    alias: 'alias',
    copy: 'copy',
    move: 'move',
    no-drop: 'no-drop',
    not-allowed: 'not-allowed',
    all-scroll: 'all-scroll',
    col-resize: 'col-resize',
    row-resize: 'row-resize',
    n-resize: 'n-resize',
    e-resize: 'e-resize',
    s-resize: 's-resize',
    w-resize: 'w-resize',
    ns-resize: 'ns-resize',
    ew-resize: 'ew-resize',
    ne-resize: 'ne-resize',
    nw-resize: 'nw-resize',
    se-resize: 'se-resize',
    sw-resize: 'sw-resize',
    nesw-resize: 'nesw-resize',
    nwse-resize: 'nwse-resize',
) !default;

@function cursor($type){
    @return map-get($map: $cursors, $key: $type);
}

.cursor {
    @each $cursor-type, $value in $cursors {
        &_#{$cursor-type} {
            cursor: cursor($cursor-type);
        }
    }
}
