// ==================================================
//      FONTS
// ==================================================

@font-face {
  font-family: 'IBMPlexSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

$fonts: (
  primary: 'Roboto-Regular',
  primary-bold: 'Roboto-Bold',
  primary-light: 'Roboto-Light',
  secondary: 'IBMPlexSans-Regular',
  secondary-bold: 'IBMPlexSans-Bold',
) !default;

@function font($type){
  @return map-get($map: $fonts, $key: $type);
}

@mixin font($type: font('primary')){
  font: font($type);
}