@import 'fonts';
@import 'RWD';

body {
    font-family: map-get($map: $fonts, $key: 'secondary');
}

h1, h2, h3, h4, h5, h6 {
    font-family: map-get($map: $fonts, $key: 'primary');
}

.hidden {
    display: none !important;
}

@media (max-width: breakpoint('ms-small-max')) {
    body {
        padding-left: margin('ms-small-margin');
        padding-right: margin('ms-small-margin');
    }
}

@media (min-width: breakpoint('ms-medium-min')) {
    body {
        padding-left: margin('ms-medium-margin');
        padding-right: margin('ms-medium-margin');
    }
}

@media (min-width: breakpoint('ms-large-min')){
    body {
        padding-left: margin('ms-large-margin');
        padding-right: margin('ms-large-margin');
    }
}