/**
* @stylesheet _link.scss Generic Link Definitions
* @parent styles.styling 5
*
* @description
* Generic definitions for styling links.
*
* @styles links Links/Hyperlinks
*/

@import 'colors';

@mixin link-color($color: 'link'){
  &:link{
    color: color($color);
  }
  &:hover{
    color: color('#{$color}-hover');
  }
  &:visited{
    color: color('#{$color}-visited');
  }
  &:active{
    color: color('#{$color}-active');
  }
}

a {
  @include link-color();
}

.link {
  @include link-color();

  &_no-underline{
    @extend .link;
    text-decoration: none;
  }
}
