/**
* @stylesheet _button.scss Generic Button Definitions
* @parent styles.styling 4
*
* @description
* Generic definitions for button styling.
*
* @styles buttons Buttons
*/

@import '../atoms/colors';
@import '../atoms/fonts';
@import '../atoms/cursors';

@mixin btn($color, $value: white, $inverted: 0, $border: 0) {

    @if($inverted == 0){
        background-color: $value;
        max-width: 230px;
        min-width: 210px;
        height: 65px;
        text-align: center;
        vertical-align: middle;
        font-family: font('secondary');

        &:hover {
            background-color: map-get($colors-hover, '#{$color}-hover');
        }

        @if($border != 0){
            border: 2px solid white;
        }
    }

    @else{
        background-color: map-get($colors-hover, '#{$color}-hover');
        max-width: 230px;
        min-width: 210px;
        height: 65px;
        text-align: center;
        vertical-align: middle;
        font-family: font('secondary');

        &:hover {
            background-color: $value;
        }

        @if($border != 0){
            border: 2px solid white;
        }
    }
}

.btn{
    text-decoration: none;
}

